{% extends 'base2.html' %}
{% block encabezado %}Mira tu ropa online{% endblock %}
{% block contenido %}
        	<div class="box">
                <span class="icon-bell"></span>
                <p>1.Registrare en nuestra aplicación.</p>
            </div>
            <div class="box">
                <span class="icon-heart"></span>
                <p>2.Rellena un pequeño formulario.</p>
            </div>
            <div class="box">
                <span class="icon-cog"></span>
                <p>3.Mira toda la ropa que quieras de forma facil.</p>
            </div>
{% endblock %}